<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiayun.erp.wms.mapper.RoleMapper">
    <resultMap id="roleResultMap" type="com.jiayun.erp.wms.entity.Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="roleKey" column="role_key"/>
        <result property="description" column="description"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteDate" column="delete_date"/>
        <!--复合属性映射-->
        <collection property="permissions" ofType="com.jiayun.erp.wms.entity.Permission" column="id" select="getPermissionByRoleId"/>
    </resultMap>

    <select id="getRoleWithPermissions" parameterType="int" resultMap="roleResultMap">
        SELECT id, `name`, role_key, description, create_date, update_date FROM roles WHERE id = #{roleId}
    </select>

    <select id="getPermissionByRoleId" parameterType="int" resultType="com.jiayun.erp.wms.entity.Permission">
        SELECT p.*
        FROM role_permissions rp
        LEFT JOIN permissions p ON rp.permission_id = p.id
        WHERE rp.role_id = #{id}
    </select>

    <select id="getPermissionsByRoleIds" parameterType="list" resultType="com.jiayun.erp.wms.entity.Permission">
        SELECT distinct p.*
        FROM role_permissions rp
        LEFT JOIN permissions p ON rp.permission_id = p.id
        WHERE rp.role_id IN
        <foreach item="roleId" index="index" collection="list" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>
</mapper>